/* Botão + ícone de login */
.fulllogin {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 32vw;
    height: 10vh;
    margin-right: 1vw;
    margin-left: auto;
    background: none;
    border: 1px solid black;
    border-radius: 30px;
}

/* Ícone de login */
.loginicon {
    width: 6vw;
    height: 6vh;
    object-fit: contain;
}

/* Texto de login */
.textologin {
    margin: 0;
    text-wrap: balance;
    font-size: 3vh;
}