/* Área com as categorias para filtrar */
.categoriadiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

/* Checkbox das categorias */
.checkcategoria {
    width: 3vh;
    height: 3vh;
    border-radius: 20px;
    border: 1px solid black;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    background-color: #fdb347;
}
.checkcategoria:checked {
    background-color: gray;
}

/* Nome de cada categoria */
.categorianome {
    font-size: 2vh;
    font-weight: bold;
    text-wrap: balance;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}