/* Área de filtro de busca (marcas + categorias) */
.fullfiltrarbusca {
    width: 100%;
    height: 100%;
}

/* Título de cada filtro */
.titulofiltros {
    font-size: 3vh;
    text-wrap: balance;
}

/* Área com os botões para filtrar por marca */
.botoesmarcas {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}